.ant-menu-submenu-title svg,
.ant-menu-item,
.ant-menu-submenu-title span {
    color: #737791 !important;
}

.ant-menu-submenu-arrow {
    color: black;
}
.ant-menu{
    background-color: transparent !important;
}

.ant-menu-item-selected,
.ant-menu-submenu-selected>.ant-menu-submenu-title svg,
.ant-menu-submenu-selected>.ant-menu-submenu-title span,
.ant-menu-submenu-selected .ant-menu-submenu-title {
    background-color: #5D5FEF !important;
    color: white !important;
    
}

.ant-menu-inline-collapsed .ant-menu-item-icon {
    position: relative;
    top: 4px;
    transition: all 300ms ease-in-out;
}
.ant-menu-item-icon{
    right: 4px;
}

.ant-menu-submenu {
    background: #fff !important; 
}

