.ant-menu-submenu-title svg,
.ant-menu-item,
.ant-menu-submenu-title span {
    color: white !important;
    
}

.ant-menu-submenu-arrow {
    color: white !important;
}

.ant-menu{
    background-color: transparent !important;
}

.ant-menu-item-selected,
.ant-menu-submenu-selected>.ant-menu-submenu-title svg,
.ant-menu-submenu-selected>.ant-menu-submenu-title span,
.ant-menu-submenu-selected .ant-menu-submenu-title {
    background-color: #38556a !important;
    color: white !important;
    border-radius: 4px !important;
    
}

.ant-menu-inline-collapsed .ant-menu-item-icon {
    position: relative;
    top: 4px;
    transition: all 300ms ease-in-out;
}
.ant-menu-item-icon{
    right: 4px;
}

.ant-menu-submenu {
    background: #12344d !important;
}

.ant-menu-item:hover, 
.ant-menu-submenu-title:hover,.ant-menu-submenu-selected>.ant-menu-submenu-title svg:hover {
    background-color: #5c7f99 !important;
    color: white !important;
    border-radius: 4px !important;
}

