.cell-red {
  background-color: red !important;
  color: white !important;
  font-weight: bolder;
}

.cell-yellow {
  background-color: yellow !important;
  color: black !important;
  font-weight: bolder;
}

.cell-green {
  background-color: green !important;
  color: white !important;
  font-weight: bolder;
}
.cell-absent{
  background-color: rgb(183, 131, 20) !important;
  color: white !important;
  font-weight: bold;
}
.cell-names{
  color: black !important;
}

.cell-center {
  text-align: center !important;
}

/* hot styles */


.handsontable td {
  padding: 1px 7px;
} 

.handsontable td, .handsontable th {
  border-color:  black !important;
}

.handsontable th {
  color: black !important; 
  font-weight: bold; 
}

.handsontable {
  border-color:  black !important;
}

.ht_master tbody tr th {
  border-color:  black !important;
}


.ant-select-dropdown {
  z-index: 9999 !important;
}
