@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::after,
*,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #0e2238;
    --font-color: #fff;
    --border-left: #3b7ddd;
    --font: poppins;
    --report-primary: #3d4771;
}

h2,
h3 {
    margin-bottom: 0 !important;
}



.reportCard {
    width: 500px;
    height: 730px;
    background-color: white;
    font-family: dosis;
    cursor: pointer;
    display: grid;
    grid-template-rows: 1.3fr 2fr 12fr 1.3fr;
    gap: .3rem;
    justify-items: center;
    border: 1px solid rgb(161, 161, 161);
}

.title {
    font-size: 1.2rem;
    font-weight: bolder;
    color: var(--report-primary);
    margin-top: 5px;
}

/* header */

.header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.fssaLogo {
    width: 230px;
}


/* Student detail */

.studentDetail_container {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 5fr;
    justify-items: center;
}


.studentDetail {
    width: 90%;
    height: 95%;
    border: 3px solid #cfbb27;
    background-color: #fff5ac;
    color: var(--report-primary);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 6px;
}

.nameDetail {
    display: grid;
    grid-template-columns: .5fr 1.4fr;
    align-items: center;
    justify-items: center;
}

.nameDetail h3 {
    margin-left: 10px;
}

.nameDetail .name {
    background-color: #f5f5f5;
    width: 90%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(75, 72, 72);
    border-radius: 50px;
}

.name span {
    font-family: poppins;
}

.sec_mon_year {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: .1rem;
    justify-content: center;
    margin-left: 8px;
}

.sec_mon_year div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.sec_mon_year div span {
    width: 50%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border: 1px solid rgb(75, 72, 72);
    border-radius: 50px;
    font-family: poppins;
}


/* Footer */

.footer {
    background-color: red;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.footer img {
    width: 100%;
    height: 100%;
}

/* Marks Container */

.marksContainer_1 {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 12fr;
    justify-items: center;
}

.marksContainer_2 {
    width: 90%;
    border: 3px solid #599940;
    background-color: #d1ebc6;
    display: grid;
    grid-template-rows: 1fr 10fr;
}


.marksHeader {
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    justify-items: center;
    align-items: center;
}

.marksHeader .title {
    margin-top: 0;
    font-size: medium;
}

.marksContainer_3 {
    width: 100%;
    background-color: rgb(255, 202, 194);
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.marksFooter {
    background-color: red;
}

.academicMarks .subject {
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    align-items: center;
    justify-items: center;
    /* height: 32px; */
}

.studentMark {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: self-start;
}

.subjectName {
    margin-left: 1rem;
}