.ant-dropdown{
    z-index: 10000;
}

.ant-drawer-content-wrapper{
    box-shadow: none !important;
}

.ant-breadcrumb-separator{
    font-family: poppins !important;
}

.ant-breadcrumb-link{
    color: #183247 ;
}