.listbox {
    overflow: hidden !important;
    width: 100% !important;
}

.holidayCell{
    color: transparent !important;
    background-color: rgba(236, 111, 111, 0.521) !important;
    border-top: none !important;
    border-bottom: none !important;
}
.holidayCell:first-child{
    border-top: 1px solid black !important;
}
.weekendCell{
    color: transparent !important;
    background-color: rgba(107, 205, 235, 0.299) !important;
    border-top: none !important;
    border-bottom: none !important;
}